<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link th:href="@{/bootstrap-icons-1.9.1/bootstrap-icons.css}" rel="stylesheet" type="text/css">

    <link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/menu.css}" type="text/css">

    <link rel="stylesheet" th:href="@{/css/script.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script th:src="@{/js/menu.js}" type="text/javascript"></script>

    <!-- Include Moment.js CDN -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js">
    </script>

    <!-- Include Bootstrap DateTimePicker CDN -->
    <link
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css"
        rel="stylesheet">

    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js">
        </script>

    <title id="Title">Docker</title>
</head>

<body id="body-pd">
    <div th:insert="components/menuTamplate :: menuTamplate(tela='docker')"></div>
    <form th:object="${docker}" action="#" th:action="@{~/docker/save/{name}(name=${docker.name})}" method="post">
        <!--MENU-->
        <div class="mx-4" id="page-content-wrapper">
            <!--BODY da página-->
            <div class="row">

                <div class="col mt-4 py-2 pt-3 px-3  rounded-4 shadow lightMode">
                    <div class="row text-end">
                        <div class="col text-start">
                            <div th:switch="${name}">
                                <h3 th:case="null">Novo Container</h3>
                            </div>
                            <h3 th:value="*{name}" id="nameCont" th:text="*{name}">Nome do Container Docker</h3>
                        </div>

                        <div class="col-auto">
                            <button class="btn btn-primary" type="submit">Salvar</button>
                        </div>
                        <div class="col-auto">
                            <a class="btn btn-secondary" th:href="gerenciarDocker.html" role="button">Cancelar</a>
                        </div>
                        <div class="col-auto" id="ativoCheckBox">
                            <div class="form-check">
                                <input th:field="*{ativo}" checked="checked" class="form-check-input " type="checkbox">
                                <label class="form-check-label" for="ativoCheckBox">
                                    Ativo
                                </label>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col mt-4 py-2 pt-3 px-3  rounded-4 shadow lightMode">
                    <div class="row fullSize">
                        <div class="col fullSize">
                            <div class="col">
                                <h3 class="text-start">Nome</h3>
                                <input th:field="*{name}" type="text" class="form-control" id="nomeContainer"
                                    placeholder="Container" required>
                            </div>
                            <div class="col">
                                <h3 id="description">Imagem</h3>
                                <div class="mb-3">
                                    <input th:field="*{imagem}" type="text" class="form-control" id="imagemContainer"
                                        placeholder="maven:3-amazoncorretto-19">
                                </div>
                            </div>
                            <!--<input class="form-control" type="file" id="formFile">-->
                        </div>
                    </div>
                </div>
            </div>

            <div class="row fullSize" id="logContainer">
                <div class="col mt-4 py-2 pt-3 px-3  rounded-4 shadow lightMode">
                    <div class="row fullSize">
                        <div class="col fullSize">
                            <div class="row">
                                <div class="col">
                                    <h3 id="log">Log do Docker</h3>
                                </div>
                                <div class="col-auto">
                                    <a th:href="@{~/docker/{name}(name=${docker.name})}" class="btn btn-primary">
                                        Atualizar</a>
                                </div>
                            </div>
                            <textarea th:field="*{log}" disabled readonly class="form-control textAreaSize lightMode"
                                rows="12" placeholder="Log..."></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row fullSize" id="statusContainer">
                <div class="col mt-4 py-2 pt-3 px-3  rounded-4 shadow lightMode">
                    <div class="row fullSize">
                        <div class="col fullSize">
                            <div class="row">
                                <div class="col">
                                    <h3>Status do Container</h3>
                                    <input type="hidden" id="containerStatus" th:value="*{status}" />
                                    <input type="hidden" id="namecont" th:value="*{name}" />
                                </div>
                                <div class="col-auto">
                                    <a th:href="@{~/docker/{name}(name=${docker.name})}" class="btn btn-primary">
                                        Atualizar</a>
                                </div>
                            </div>
                            <div class="col fullSize">
                                <textarea disabled readonly rows="12" id="status"
                                    class="form-control textAreaSize lightMode" placeholder="Status..."></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <script>
            dados = []
            headder = []
            function processa() {
                var mensagem = $("#containerStatus").val();
                var name = $("#namecont").val();
                //console.log(mensagem)
                lines = mensagem.split('\n');
                console.log(lines)
                headder.push(lines[0])
                lines.forEach(element => {
                    console.log(element)
                    if (element != "") {
                        if (element.split(' ')[element.split(' ').length - 1] == name)
                            dados.push(element);
                    }
                });

            }
            processa()
            build()

            function build() {
                var table = document.getElementById('status')

                console.log(dados)
                table.innerHTML += headder + "\n"
                for (var i = 0; i < dados.length; i++) {
                    try {
                        console.log(dados[i])
                        var row = `${dados[i]}`
                        table.innerHTML += row + "\n"
                        // console.log(data[i].id)
                    } catch {
                        null
                    }
                }
            }

            imagem = document.getElementById('imagemContainer')
            nome = document.getElementById('nomeContainer')
            ativo = document.getElementById('ativoCheckBox')
            log = document.getElementById('logContainer')
            sta = document.getElementById('statusContainer')
            if (nome.value != '') {

                imagem.setAttribute('disabled', null)
                imagem.setAttribute('readonly', null)

                nome.setAttribute('disabled', null)
                nome.setAttribute('readonly', null)

            } else {
                ativo.setAttribute('hidden', null)
                log.setAttribute('hidden', null)
                sta.setAttribute('hidden', null)

            }
        </script>
        </main>
    </form>

    <script th:src="@{/js/cookies.js}" type="text/javascript"></script>
</body>

</html>