<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link th:href="@{/bootstrap-icons-1.9.1/bootstrap-icons.css}" rel="stylesheet" type="text/css">

    <link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/menu.css}" type="text/css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script th:src="@{/js/menu.js}" type="text/javascript"></script>
    <title id="Title">Docker</title>
</head>

<body id="body-pd">
    <div th:insert="components/menuTamplate :: menuTamplate(tela='docker')"></div>
    <!--MENU-->

    <div id="page-content-wrapper">
        <!--BODY da página-->
        <div class="m-4 pt-4">
            <div class="p-4 rounded-4 lightMode">

                <form>

                    <div class="row">
                        <div class="col">
                            <h1>Containers Docker</h1>
                        </div>
                        <div class="col-auto">
                            <a class="btn btn-primary" href="./docker.html" role="button" id="cadastrarCliente">Novo</a>
                        </div>
                    </div>
                    <div class="form-row overflow-auto">
                        <input type="hidden" id="container" th:value="${container}" />
                        <table class="table table-striped">
                            <tr>
                                <th>Nome</th>
                                <th>Criado</th>
                                <th>Status</th>
                                <th>Opção</th>
                            </tr>

                            <tbody id="docker">

                            </tbody>

                        </table>



                        <script>
                            //var colName = [];
                            //for (let i = 0; i < document.getElementsByTagName("th").length; i++) {
                            //    colName = colName.concat($(`#colName${i}`).text());
                            //}
                            //console.log(colName)



                            dados = []
                            function processa() {
                                var mensagem = $("#container").val();
                                console.log(mensagem)
                                mensagem = mensagem.replace(/ {2,}/gm, "¨")
                                mensagem = mensagem.replace(/ /gm, "_")
                                console.log(mensagem)
                                lines = mensagem.split('\n');
                                console.log(lines)
                                lines.forEach(element => { // CONTAINER_ID IMAGE COMMAND CREATED STATUS PORTS NAMES
                                    if (!element.includes("CONTAINER_ID")) {
                                        itemFiltrado = []
                                        item = element.split('¨');
                                        //console.log(item)

                                        item.forEach(element => {
                                            if (element != '') {
                                                itemFiltrado.push(element)
                                            }
                                        })
                                        //console.log(itemFiltrado.length)
                                        if (itemFiltrado.length == 7) {
                                            json = { "CONTAINER_ID": itemFiltrado[0], "IMAGE": itemFiltrado[1], "COMMAND": itemFiltrado[2], "CREATED": itemFiltrado[3], "STATUS": itemFiltrado[4], "PORTS": itemFiltrado[5], "NAMES": itemFiltrado[6] }
                                        } else {
                                            json = { "CONTAINER_ID": itemFiltrado[0], "IMAGE": itemFiltrado[1], "COMMAND": itemFiltrado[2], "CREATED": itemFiltrado[3], "STATUS": itemFiltrado[4], "NAMES": itemFiltrado[5] }
                                        }
                                        console.log(json)
                                        dados.push(json);

                                    }
                                });

                            }
                            processa()
                            buildTable(dados)

                            function buildTable(data) {
                                var table = document.getElementById('docker')

                                for (var i = 0; i < data.length; i++) {
                                    try {
                                        //console.log(data[i])
                                        var row = `<tr>
                                                <td>${data[i]['NAMES']}</td>
                                                <td>${data[i]['CREATED'].replace(/_/g, " ")}</td>
                                                <td>${data[i]['STATUS'].replace(/_/g, " ")}</td>
                                                <td><a class="btn btn-primary" href="./docker/${data[i]['NAMES']}" role="button" id="${data[i]['NAMES']}">Editar</a></td>
                                            </tr>`
                                        table.innerHTML += row
                                        // console.log(data[i].id)
                                    } catch {
                                        null
                                    }
                                }
                            }
                        </script>


                    </div>


            </div>
        </div>
    </div>
    <script th:src="@{/js/cookies.js}" type="text/javascript"></script>
</body>

</html>