<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link th:href="@{/bootstrap-icons-1.9.1/bootstrap-icons.css}" rel="stylesheet" type="text/css">

    <link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/menu.css}" type="text/css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script th:src="@{/js/menu.js}" type="text/javascript"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.11/jquery.mask.min.js"></script>
    <script th:src="@{/js/bootstrap/bootstrap.bundle.js}" type="text/javascript"></script>



    <!--
            <script async
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAu5OFjNafTgdt2Uz3G7-KvnFfFQ27SfsA&libraries=drawing,localContext"></script>
            
    -->
    <title id="Title">Formulário</title>
</head>

<body id="body-pd">
    <script th:src="@{/js/menuTamplate.js}" type="text/javascript"></script>
    <div id="page-content-wrapper">
        <!--BODY da página-->
        <div class="m-4 pt-4">
            <div class="p-4 rounded-4 lightMode">

                <form class="needs-validation" novalidate>

                    <div class="form-row">
                        <h1>Formulário</h1>
                    </div>

                    <div class="form-row">
                        <div class="col-md-auto mb-3">
                            <label for="Date">Data da Troca (Obrigatório):</label>
                            <button type="button" class="btn btn-sm" data-bs-toggle="popover" title="Sensor"
                                data-bs-content="Data de instalação do sensor">?</button>
                            <input id="Date" class="form-control lightMode" type="date" required>
                            <div class="invalid-feedback">
                                Selecione uma data!
                            </div>
                        </div>

                        <div class="row-row">
                            <div class="col-md mb-3">
                                <label for="sensor">Número do Sensor (Obrigatório):</label>
                                <button type="button" class="btn btn-sm" data-bs-toggle="popover"
                                    title="Identificação do aparelho"
                                    data-bs-content="Número que está no aparelho">?</button>
                                <input type="text" class="form-control lightMode" id="sensor"
                                    placeholder="Exemplo: 0000" required>
                            </div>
                        </div>


                        <div class="form-row">
                            <div class="row">
                                <div class="col-md mb-3">
                                    <label for="endPredInst">Endereço Predial de Instalação (Obrigatório):</label>
                                    <button type="button" class="btn btn-sm" data-bs-toggle="popover"
                                        title="Local real em que o sensor está"
                                        data-bs-content="Por favor colocar apenas o nome da rua e o número correspondente. Exemplo: R. Camões, 258">?</button>
                                    <input type="text" class="form-control lightMode" id="endPredInst"
                                        placeholder="Exemplo: R. Camões, 258" required>
                                    
                                </div>
                                <div class="col-md mb-3">
                                    <label for="endComRel">Endereço de Exibição no Relatório
                                        (Obrigatório):</label>
                                    <button type="button" class="btn btn-sm" data-bs-toggle="popover"
                                        title="Nome que aparecerá no relatório"
                                        data-bs-content="Pode colocar o nome que preferir para o relatório. Exemplo: Rua Camões, Próximo ao Mercado.">?</button>
                                    <input type="text" class="form-control lightMode" id="endComRel"
                                        placeholder="Exemplo: Rua Camões, Próximo ao Mercado." required>
                                    
                                </div>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="row">
                                <div class="col-md mb-3">
                                    <label for="cidade">Cidade (Obrigatório):</label>
                                    <button type="button" class="btn btn-sm" data-bs-toggle="popover" title="Cidade"
                                        data-bs-content="Nome da cidade em que o sensor está instalado">?</button>
                                    <input type="text" class="form-control lightMode" id="cidade"
                                        placeholder="Exemplo: Curitiba" required>
                                </div>
                                <div class="col-md mb-3">
                                    <label for="estado">Estado (Obrigatório):</label>
                                    <button type="button" class="btn btn-sm" data-bs-toggle="popover" title="Estado"
                                        data-bs-content="Nome do estado em que o sensor está instalado">?</button>
                                    <input type="text" class="form-control lightMode" id="estado"
                                        placeholder="Exemplo: Paraná" required>
                                </div>
                            </div>
                        </div>


                        <div class="form-row">
                            <div class="col-md-auto mb-3">
                                <iframe id="maps"
                                src="https://maps.google.com/maps?q=everywhere%20curitiba&t=&z=13&ie=UTF8&iwloc=&output=embed"
                                width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                                referrerpolicy="no-referrer-when-downgrade"></iframe>
                            </div>
                        </div>
                        <!-- src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d54159.14412129146!2d-49.30594329385649!3d-25.428217412074606!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x10b241d64142cbb9!2sEverywhere%20Analytics!5e0!3m2!1spt-BR!2sbr!4v1665091389735!5m2!1spt-BR!2sbr"-->
                        <!--
                        <div id="map_canvas" style="width:400px; height:400px"></div>
                        <script type="text/javascript">
                            function initialize() {
                                var mapOptions = {
                                    center: new google.maps.LatLng(-25.447384, -49.259586),
                                    zoom: 10,
                                    mapTypeId: google.maps.MapTypeId.ROADMAP
                                };
                                var map = new google.maps.Map(document.getElementById("map_canvas"),
                                mapOptions);
                            }
                            </script>
                        -->

                        <div class="form-row">
                            <div class="col-md-auto mb-3">
                                <label for="codPainel">Código Interno do Painel</label>
                                <button type="button" class="btn btn-sm" data-bs-toggle="popover"
                                    title="Código do Painel" data-bs-content="Opção de código interno
                                        da empresa a ser adicionado nos relatórios. Exemplo:
                                        1234 - Everywhere Analytics">?</button>
                                <input type="text" class="form-control lightMode" id="codPainel"
                                    placeholder="Exemplo: 1234 - Everywhere Analytics">
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col-md-auto mb-3 py-3">
                                <h5>Tipo de Painel</h5>
                                <div class="form-check">
                                    <input class="form-check-input lightMode" type="radio" name="radios" id="Outdoor"
                                        value="option1" checked>
                                    <label class="form-check-label" for="Outdoor">
                                        Outdoor
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input lightMode" type="radio" name="radios"
                                        id="Front Light" value="Front Light">
                                    <label class="form-check-label" for="Front Light">
                                        Front Light
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input lightMode" type="radio" name="radios"
                                        id="Painel de LED" value="Painel de LED">
                                    <label class="form-check-label" for="Painel de LED">
                                        Painel de LED
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input lightMode" type="radio" name="radios" id="Mob Urbano"
                                        value="Mob Urbano">
                                    <label class="form-check-label" for="Mob Urbano">
                                        Mob Urbano
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input lightMode" type="radio" name="radios" id="Empena"
                                        value="Empena">
                                    <label class="form-check-label" for="Empena">
                                        Empena
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input lightMode" type="radio" name="radios" id="Indoor"
                                        value="Indoor">
                                    <label class="form-check-label" for="Indoor">
                                        Indoor
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input lightMode" type="radio" name="radios" id="Outro"
                                        value="Outro">
                                    <label class="form-check-label" for="Outro">
                                        Outro
                                    </label>
                                </div>
                            </div>
                        </div>


                        <div class=" row mx-4 d-flex justify-content-center">
                            <button class="btn btn-primary" type="submit">Cadastrar</button>
                        </div>

                        <script>
                            var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
                            var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
                                return new bootstrap.Popover(popoverTriggerEl)
                            })
                        </script>
                </form>
            </div>

        </div>

    </div>
    </div>

    <script th:src="@{/js/validationForm.js}" type="text/javascript"></script>
    <script th:src="@{/js/cookies.js}" type="text/javascript"></script>
</body>

</html>