<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link th:href="@{/bootstrap-icons-1.9.1/bootstrap-icons.css}" rel="stylesheet" type="text/css">

    <link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/menu.css}" type="text/css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script th:src="@{/js/menu.js}" type="text/javascript"></script>
    <title id="Title">Formulário</title>
</head>

<body id="body-pd">
    <div th:insert="components/menuTamplate :: menuTamplate(tela='formularios')"></div>
    <!--MENU-->

    <div id="page-content-wrapper">
        <!--BODY da página-->
        <div class="m-4 pt-4">
            <div class="p-4 rounded-4 lightMode">

                <form>

                    <div class="row">
                        <div class="col">
                            <h1>Formulários</h1>
                        </div>
                        <div class="col-auto">
                            <a class="btn btn-primary" href="./formulario.html" role="button"
                                id="cadastrarCliente">Novo</a>
                        </div>
                    </div>
                    <div class="form-row">
                        <div th:switch="${forms}">
                            <h3 th:if="${forms.empty}">Sem Formulário, ainda.</h3>
                            <table th:case="*" th:each="form : ${forms}" class="table table-striped">
                                <tr>
                                    <th id="colName0">Requisição</th>
                                    <th id="colName1">Data</th>
                                    <th id="colsName2">Endereço</th>
                                    <th id="colName3">Opção</th>
                                </tr>
                                <tr>
                                    <td th:text="${form.id}">...</td>
                                    <td th:text="${form.date}">...</td>
                                    <td th:text="${form.enderecoExibicaoSensor}">...</td>
                                    <td>
                                        <a class="btn btn-primary" th:href="@{formulario/{id}(id=${form.id})}"
                                            role="button">Editar</a>
                                    </td>
                                </tr>

                            </table>
                            <script th:src="@{/js/cookies.js}" type="text/javascript"></script>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</body>

</html>