<!DOCTYPE html>
<html lang="en"  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>-->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap.css}" type="text/css"/>
    <link th:href="@{/bootstrap-icons-1.9.1/bootstrap-icons.css}" rel="stylesheet"type="text/css">

    <link rel="stylesheet" th:href="@{/css/menu.css}"type="text/css">
    <link rel="stylesheet" th:href="@{/css/script.css}"type="text/css">

    <script th:src="@{/chart.js/dist/chart.js}"type="text/css"></script>


    <script th:src="@{/js/menu.js}" type="text/javascript"></script>

    <!-- Include Moment.js CDN -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js">
    </script>

    <!-- Include Bootstrap DateTimePicker CDN -->
    <link
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css"
        rel="stylesheet">

    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js" type="application/javascript">
        </script>

  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>-->
    <title>Dashboard</title>
</head>

<!--<body id="body-pd" style="background: #dfe0e6">-->

<body id="body-pd" style="background: #ebebf0">
    <main>
        <header class="header shadow" id="header">
            <div class="header_toggle"><i class='bi bi-list' id="header-toggle"></i></div>
        </header>
        <div class="l-navbar" id="nav-bar">
            <nav class="nav">
                <div>
                    <a href="#" class="nav_logo">
                        <i class='bi bi-grid-1x2'></i>
                        <span class="nav_logo-name">Everywhere Analitics</span>
                    </a>
                    <div class="nav_list">
                        <a href="dash.html" class="nav_link active">
                            <i class='bi bi-graph-up-arrow'></i>
                            <span class="nav_name">Dashboard</span>
                        </a>
                        <a href="cadastroUsuario.html" class="nav_link"><i class='bi bi-people'></i>
                            <span class="nav_name">Usuários</span>
                        </a>
                        <a href="formularios.html" class="nav_link"> <i class='bi bi-card-checklist'></i>
                            <span class="nav_name">Formulários</span>
                        </a>
                        <a href="404.html" class="nav_link"> <i class='bi bi-person-video2'></i>
                            <span class="nav_name">Clientes</span>
                        </a>
                        <a href="docker.html" class="nav_link"> <i class='bi bi-boxes'></i>
                            <span class="nav_name">Docker</span>
                        </a>
                    </div>
                </div> <a href="index.html" class="nav_link"> <i class='bi bi-box-arrow-left'></i> <span
                        class="nav_name">Deslogar</span> </a>
            </nav>
        </div>
        <div id="page-content-wrapper">
            <div class="container-fluid xyz">
                <div class="row">
                    <div class="col-2">
                        <div class="p-3 m-4 text-start rounded-4 shadow"
                            style="width: 100%; height: 95%; background: #2e75b5; color: #f5f6fa;">
                            <div class="py-3">
                                <p>Dados</p>
                                <div class="row">
                                    <div>
                                        <input id="startDate" class="form-control" type="date" />
                                        <input type="range" class="form-range" id="customRange1">
                                    </div>
                                    <div>
                                        <input id="startDate" class="form-control" type="date" />
                                        <input type="range" class="form-range" id="customRange1">
                                    </div>
                                </div>

                            </div>
                            <div class="py-3">
                                <p>Cidade</p>
                                <select class="form-select">
                                    <option selected>Todos</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>

                            <div class="py-3">
                                <p>Local</p>
                                <select class="form-select">
                                    <option selected>Todos</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
                            <div class="py-3">
                                <p>Duração</p>
                                <select class="form-select">
                                    <option selected>Todos</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
                            <div class="py-3">
                                <p>Tipo de Painel</p>
                                <select class="form-select">
                                    <option selected>Todos</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-10">
                        <div class="row">
                            <div class="col">
                                <div class="row">
                                    <div class="col">
                                        <div class="m-4 p-2 text-center rounded-4" style="width: 98%; height: 150px;">
                                            <div class="row">
                                                <div class="p-1">
                                                    <h3>Análise Semanal e Diário</h3>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col">
                                                    <div class="p-1 rounded-4 shadow" style="background: #ffff">
                                                        <p>1.123.123</p>
                                                        <p>Audiência</p>
                                                    </div>
                                                </div>

                                                <div class="col">
                                                    <div class="p-1 rounded-4 shadow" style="background: #ffff">
                                                        <p>1.123.123</p>
                                                        <p>Impactos</p>
                                                    </div>
                                                </div>

                                                <div class="col">
                                                    <div class="p-1 rounded-4 shadow" style="background: #ffff">
                                                        <p>1,12</p>
                                                        <p>Frequência</p>
                                                    </div>
                                                </div>

                                                <div class="col">
                                                    <div class="p-1 rounded-4 shadow" style="background: #ffff">
                                                        <p>123</p>
                                                        <p>Média de dias monitorados</p>
                                                    </div>
                                                </div>

                                                <div class="col">
                                                    <div class="p-1 rounded-4 shadow" style="background: #ffff">
                                                        <p>12</p>
                                                        <p>N° Locais</p>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-8">
                                <div class="m-2 p-2 text-center rounded-4 shadow" style="background: #ffff">
                                    <div class="p-1">
                                        <p>Análise Diária Audiência X Impactos</p>
                                    </div>
                                    <div class="px-4 overflow-auto">
                                        <div style="width: 1700px;">
                                            <canvas width="70px" height="10px" id="grafico1" class=""></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="m-2 p-2 text-center rounded-4 shadow" style="background: #ffff">
                                    <div class="px-4 overflow-auto">
                                        <div>
                                            <canvas width="13px" height="10px" id="grafico3" class=""></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-8">
                                <div class="p-2 m-2 text-center rounded-4 shadow" style="background: #ffff">
                                    <div class="p-1">
                                        <p>Análise Semana Audiência X Impactos</p>
                                    </div>
                                    <div class="px-4">
                                        <canvas width="40px" height="10px" id="grafico2" class=""></canvas>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="m-2 p-2 text-center rounded-4 shadow" style="background: #ffff">
                                    <div class="px-4 overflow-auto">
                                        <div>
                                            <canvas width="14px" height="10px" id="grafico4" class=""></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
        </div>
        </div>


    </main>
    <script th:src="@{/chart.js/dist/chart.js}" type="text/javascript"></script>

    <script th:src="@{/js/app.js}"  type="text/javascript"></script>
    </body>

</html>