<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link href="./bootstrap-icons-1.9.1/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./menu.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="./menu.js"></script>
    <title>Formulário</title>
</head>

<body id="body-pd" style="background: #ebebf0">
    <main>
        <header class="header shadow" id="header">
            <div class="header_toggle"><i class='bi bi-list' id="header-toggle"></i></div>
        </header>
        <div class="l-navbar" id="nav-bar">
            <nav class="nav">
                <div>
                    <a href="#" class="nav_logo">
                        <i class='bi bi-grid-1x2'></i>
                        <span class="nav_logo-name">Everywhere Analitics</span>
                    </a>
                    <div class="nav_list">
                        <a href="dash.html" class="nav_link">
                            <i class='bi bi-graph-up-arrow'></i>
                            <span class="nav_name">Dashboard</span>
                        </a>
                        <a href="cadastroUsuario.html" class="nav_link"><i class='bi bi-people'></i>
                            <span class="nav_name">Usuários</span>
                        </a>
                        <a href="formularios.html" class="nav_link active"> <i class='bi bi-card-checklist'></i>
                            <span class="nav_name">Formulários</span>
                        </a>
                        <a href="404.html" class="nav_link"> <i class='bi bi-person-video2'></i>
                            <span class="nav_name">Clientes</span>
                        </a>
                        <a href="docker.html" class="nav_link"> <i class='bi bi-boxes'></i>
                            <span class="nav_name">Docker</span>
                        </a>
                    </div>
                </div>
                <a href="#" class="nav_link">
                    <i class='bi bi-box-arrow-left'></i>
                    <span class="nav_name">Deslogar</span>
                </a>
            </nav>
        </div>
        <div id="page-content-wrapper">
            <!--BODY da página-->
            <h1>Formulário</h1>
        </div>
        </div>


    </main>

    <script src="./app.js"></script>

    <script src="./js/bootstrap.min.js"></script>
</body>

</html>