<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link href="./bootstrap-icons-1.9.1/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./menu.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="./menu.js"></script>
    <title id="Title">Tamplate</title>
</head>

<body id="body-pd" style="background: #ebebf0">
    <script src="./menuTamplate.js"></script>

    <div class="ms-5" id="page-content-wrapper">
        <!--BODY da página-->
        <h1>BODY</h1>
    </div>
    <script src="./cookies.js"></script>
</body>

</html>