<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title>EWA</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link th:href="@{/bootstrap-icons-1.9.1/bootstrap-icons.css}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap.min.css}" type="text/css">
    <!--  <scr#ipt t#h:src="@{/js/bootstra#p/boot#strap.bundle.js}" typ#e="text/java#script"></scr#ipt>

         //kkk tive q zuar com isso, thymeleaf esta lendo mesmo comentado

    <sc#ript t#h:s#rc="@{/js/bootstrap/bootstra#p.min.js}" ty#pe="#text/javasc#ript"></scri#pt>-->
</head>

<body style="background: #ffffff;">
    <header>
        <nav class="navbar navbar-expand-lg" style="background-color: #2e75b5;">
            <div class="container-fluid">
                <a class="navbar-brand" href="#" style="color: #ffff;">
                    Everywhere Analitics
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
                    aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor01">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                        <li class="nav-item">
                            <a class="nav-link" href="#contato" style="color: #ffff;">Contato</a>
                        </li>

                    </ul>
                    <form class="d-flex">
                        <div sec:authorize="isAuthenticated()">
                            <a class="btn btn-light" th:href="${#authorization.expression('hasAnyAuthority(''ROLE_ADMIN'')')} ? @{~/gerenciarDash.html} : @{~/dash.html}" role="button">Entrar</a>
                        </div>
                        <div sec:authorize="isAnonymous()"> 
                            <a class="btn btn-light" th:href="@{~/login.html}" role="button">Entrar</a>
                        </div>
                    </form>
                </div>
            </div>
        </nav>
    </header>
    <main>

        <div class="py-4" style="background: #e4e4e4;"></div>
        <div class="py-5">
            <div class="row justify-content-center">
                <div class="p-auto mx-5 col-md-4 text-center rounded-5" style="width: 210px; height: 210px;">
                    <img th:src="@{assets/icone-mobility-min.png}" alt="icone-mobility-min">
                </div>
                <div class="p-auto mx-5 col-md-4 text-center rounded-5" style="width: 210px; height: 210px;">
                    <img th:src="@{assets/icone-ooh-min.png}" alt="icone-ooh-min">
                </div>
                <div class="p-auto mx-5 col-md-4 text-center rounded-5" style="width: 210px; height: 210px;">
                    <img th:src="@{assets/icone-retail-min.png}" alt="icone-retail-min">
                </div>
            </div>
        </div>


        <div class="py-4" style="background: #e4e4e4;"></div>
        <div class="py-5">
            <div class="mx-auto p-5" style="width: 70%;">
                <div class="p-2 row">
                    <div class="col text-center">
                        <h1>Quem Somos</h1>
                        <p>A Everywhere Analitics é Startup Curitibana que surgiu em 2015, com o intuito de ser uma
                            empresa B2B (de empresa para empresa) de Inteligência de Negócios (Business Intelligence ou
                            BI). O produto oferecido é a análise do fluxo e o comportamento do deslocamento de pessoas,
                            sanando uma dor de clientes da área de marketing de outdoor, onde estava ficando defasado em
                            relação ao marketing digital na web.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="py-4" style="background: #e4e4e4;"></div>
        <div class="mx-auto p-5 rounded-5" style="width: 50%;">
            <div class="row">
                <div class="col text-center" id="sobre">
                    <h1>Como Fazemos</h1>
                    <p>A Everywhere Analitics desenvolveu sensores WIFI que fazem a “leitura” de todos os aparelhos que
                        tenham esse tipo de conexão e esse tipo de dado é anônimo e público, gerado automaticamente pelo
                        aparelho para ser utilizado como um “crachá” de identificação do aparelho ao se comunicar com os
                        roteadores. Esse dado contém o endereço MAC (é um código de identificação) do aparelho e a
                        potência do sinal, sendo agregado a data e hora de captura do sinal. </p>
                </div>
            </div>
        </div>


        <div class="py-4" style="background: #e4e4e4;"></div>

    </main>
    <footer class="blog-footer">
        <!-- place footer here -->
        <div class="mx-5 py-5 row justify-content-center" id="contato">
            <div class="mx-5 row justify-content-center">
                <div class="fusion-column col-lg-3 col-md-3 col-sm-3">
                    <img th:src="@{assets/logo.png}" class="rounded" alt="logo" style="width: 200px;">
                </div>
                <div class="fusion-column col-lg-3 col-md-3 col-sm-3">
                    <h4 class="widget-title">Telefone:</h4>
                    <div class="textwidget">
                        <div style="font-size:22px; margin-bottom:0px;"><strong><span style="font-size:14px;">41</span>
                                3121-2992</strong></div>
                        <div style="font-size:22px;"><strong><span style="font-size:14px;">41</span>
                                98812-9840</strong></div>
                    </div>
                    <div style="clear:both;"></div>
                </div>
                <div class="fusion-column col-lg-3 col-md-3 col-sm-3">
                    <h4 class="widget-title">Endereço:</h4>
                    <div class="textwidget">
                        <div style="font-size:18px;">Av. N. Sra. Aparecida, 1260 <br> Seminário – Curitiba – PR
                        </div>
                    </div>
                    <div style="clear:both;"></div>
                </div>
                <div class="fusion-column fusion-column-last col-lg-3 col-md-3 col-sm-3">
                    <h4 class="widget-title">Nossas Redes:</h4>
                    <div class="px-3">
                        <a href="https://www.facebook.com/everywhereanalytics">
                            <i class="px-4 bi bi-facebook"></i>
                        </a>
                        <a class="fusion-social-network-icon fusion-tooltip fusion-whatsapp fusion-icon-whatsapp"
                            href="https://api.whatsapp.com/send?phone=5541998615020&amp;text=Ol%C3%A1!%20Acessei%20o%20site%20da%20Everywhere%20Analytics%20e%20gostaria%20de%20informa%C3%A7%C3%B5es."><i
                                class="bi bi-whatsapp"></i></a>
                    </div>
                    <div style="clear:both;"></div>
                </div>
                <div class="fusion-clearfix"></div>
            </div>
        </div>
        <div class="text-center pb-3">
            <p>
                <a class="btn btn-outline-secondary" href="#" role="button">Voltar para Cima</a>
            </p>
        </div>
    </footer>
</body>

</html>