<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Bootstrap CSS -->
  <link th:href="@{/bootstrap-icons-1.9.1/bootstrap-icons.css}" rel="stylesheet" type="text/css">

  <link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap.min.css}" type="text/css">
  <link rel="stylesheet" th:href="@{/css/menu.css}" type="text/css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script th:src="@{/js/menu.js}" type="text/javascript"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.11/jquery.mask.min.js"></script>
  <script th:src="@{/js/bootstrap/bootstrap.bundle.js}" type="text/javascript"></script>

  <title id="Title">Usuário</title>
</head>

<body id="body-pd">
  <div th:insert="components/menuTamplate :: menuTamplate(tela='usuario')"></div>

  <div id="page-content-wrapper row">
    <!--BODY da página-->
    <div class="m-4 pt-4">
      <div class="p-4 rounded-4 lightMode">

        <form th:object="${usuario}" action="#" th:action="@{/cadastroUsuario/save/{id}(id=${usuario.id})}"
          method="post" class="needs-validation" novalidate>

          <div class="form-row">
            <h1>Cadastro de Usuários</h1>
          </div>

          <div class="form-check p-3">
            <input th:field="*{ativo}" class="form-check-input" type="checkbox" id="ativoCheckBox">
            <label class="form-check-label" for="ativoCheckBox">
              Ativo
            </label>
          </div>

          <div class="form-row">
            <div class="col-md mb-3">
              <label for="validationNome">Nome (Obrigatório)</label>
              <button type="button" class="btn btn-sm" data-bs-toggle="popover" title="Nome"
                data-bs-content="Escolha um nome para o Usuário">?</button>
              <input th:field="*{nome}" type="text" class="form-control lightMode" id="validationNome"
                placeholder="Nome" required>
              <div class="valid-feedback">
                Nome válido!
              </div>

              <div class="invalid-feedback">
                Nome Inválido!.
              </div>
            </div>

            <div class="form-row" novalidate>
              <div class="col-md mb-3">
                <label for="validationEmail">E-mail (Obrigatório)</label>
                <button type="button" class="btn btn-sm" data-bs-toggle="popover" title="Nome"
                  data-bs-content="Coloque o email utilizado pelo funcionário">?</button>
                <input th:field="*{email}" type="text" class="form-control lightMode" id="validationEmail"
                  placeholder="exemplo@email.com" required>
                <div class="valid-feedback">
                  E-mail válido!
                </div>

                <div class="invalid-feedback">
                  E-mail Inválido!.
                </div>
              </div>

              <div class="col-md mb-3">
                <label for="validationSenha">Senha (Obrigatório)</label>
                <button type="button" class="btn btn-sm" data-bs-toggle="popover" title="Nome"
                  data-bs-content="A senha deve conter caracteres especiais (!@#$), letras maiúsculas, minúsculas e números">?</button>
                <input th:field="*{senha}" type="password" class="form-control lightMode" id="validationSenha"
                  placeholder="********" required>
                <div class="valid-feedback">
                  Senha Válida!
                </div>

                <div class="invalid-feedback">
                  Senha Inválida!.
                </div>
              </div>

              <div class="col-md mb-3">
                <label for="validationSenhaConf">Confirmação da Senha (Obrigatório)</label>
                <button type="button" class="btn btn-sm" data-bs-toggle="popover" title="Nome"
                  data-bs-content="A confirmação de senha deve ser igual a senha digitada">?</button>
                <input type="password" class="form-control lightMode" id="validationSenhaConf" placeholder="********"
                  required>
                <div class="valid-feedback">
                  Senha Válida!
                </div>

                <div class="invalid-feedback">
                  Senha Inválida!.
                </div>
              </div>
            </div>

            <div class="col-md mb-3">
              <label for="validationCelular">Celular</label>
              <button type="button" class="btn btn-sm" data-bs-toggle="popover" title="Nome"
                data-bs-content="Colocar o telefone de contato caso necessário">?</button>
              <div class="input-group">
                <span class="input-group-text lightMode" id="inputGroupPrepend3">+55</span>
                <input type="text" th:field="*{celular}" class="form-control lightMode" id="validationCelular"
                  placeholder="(12) 12345-6789" aria-describedby="inputGroupPrepend3">
                <div class="valid-feedback">
                  Preenchido corretamente!
                </div>
                <div class="invalid-feedback">
                  Por favor, preencha corretamente.
                </div>
              </div>
            </div>

            <div class="form-row">
              <div class="col-md mb-3">
                <label for="validationAtuacao">Atuação</label>
                <button type="button" class="btn btn-sm" data-bs-toggle="popover" title="Nome"
                  data-bs-content="Colocar uma descrição da atuação do usuário para facilitar o gerenciamento posterior">?</button>
                <input th:field="*{atuacao}" type="text" class="form-control lightMode" id="validationAtuacao"
                  placeholder="Gerente de Marketing">
                <div class="valid-feedback">
                  Atuação Válida!
                </div>
                <div class="invalid-feedback">
                  Por favor, Insira uma Atuação válida.
                </div>
              </div>

              <!--DASH-->
              <div class="form-row py-3">
                <h2>Tipo de Acesso ao Sistema</h2>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" th:field="*{accessDash}">
                  <label class="form-check-label" for="dashCheckBox">
                    Acesso ao Dashboard
                  </label>
                </div>

                <div class="form-check">
                  <input class="form-check-input" type="checkbox" th:field="*{accessManageDash}">
                  <label class="form-check-label" for="dashCheckBox">
                    Acesso ao Listar Dashboard
                  </label>
                </div>
                <!--DASH-->
                <!--DOCKER-->
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" th:field="*{accessDocker}">
                  <label class="form-check-label" for="formCheckBox">
                    Acesso ao Listar Docker
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" th:field="*{accessManageDocker}">
                  <label class="form-check-label" for="formCheckBox">
                    Acesso ao Visualizar Docker
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" th:field="*{accessResgisterDocker}">
                  <label class="form-check-label" for="formCheckBox">
                    Acesso ao Cadastro Docker
                  </label>
                </div>
                <!--DOCKER-->
                <!--Formulário-->
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" th:field="*{accessForms}">
                  <label class="form-check-label" for="formCheckBox">
                    Acesso ao Listar Formulário
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" th:field="*{accessManageForms}">
                  <label class="form-check-label" for="formCheckBox">
                    Acesso ao Visualizar Formulário
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" th:field="*{accessRegisterForms}">
                  <label class="form-check-label" for="formCheckBox">
                    Acesso ao Cadastro Formulário
                  </label>
                </div>
                <!--Formulário-->
                <!--Usuário-->
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" th:field="*{accessUsers}">
                  <label class="form-check-label" for="formCheckBox">
                    Acesso ao Listar Usuário
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" th:field="*{accessManageUser}">
                  <label class="form-check-label" for="formCheckBox">
                    Acesso ao Visualizar Usuário
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" th:field="*{accessRegisterUser}">
                  <label class="form-check-label" for="formCheckBox">
                    Acesso ao Cadastro Usuário
                  </label>
                </div>
                <!--Usuário-->
                <!--Clientes-->
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" th:field="*{accessClients}">
                  <label class="form-check-label" for="formCheckBox">
                    Acesso ao Listar Clientes
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" th:field="*{accessManageClients}">
                  <label class="form-check-label" for="formCheckBox">
                    Acesso ao Visualizar Clientes
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" th:field="*{accessRegisterClients}">
                  <label class="form-check-label" for="formCheckBox">
                    Acesso ao Cadastro Clientes
                  </label>
                </div>
                <!--Clientes-->

                <div class="row mx-4 d-flex">
                  <button class="btn btn-primary" type="submit">Cadastrar</button>
                </div>


        </form>
        <script>
          var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
          var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
            return new bootstrap.Popover(popoverTriggerEl)
          }) 
        </script>
      </div>

    </div>

  </div>
  </div>
  <script th:src="@{/js/validationUsuario.js}" type="text/javascript"></script>
  <script th:src="@{/js/cookies.js}" type="text/javascript"></script>

</body>

</html>