<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link th:href="@{/bootstrap-icons-1.9.1/bootstrap-icons.css}" rel="stylesheet" type="text/css">

    <link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/menu.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/dash.css}" type="text/css">
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>-->
    <script th:src="@{/js/menu.js}" type="text/javascript"></script>
    <script th:src="@{/js/bootstrap/bootstrap.bundle.js}" type="text/javascript"></script>
    <title id="Title">Usuário</title>
</head>

<body id="body-pd">
    <div th:insert="components/menuTamplate :: menuTamplate(tela='usuario')"></div>
    <!--MENU-->

    <div id="page-content-wrapper">
        <!--BODY da página-->
        <div class="m-4 pt-4">
            <div class="p-4 rounded-4 lightMode">

                <form>

                    <div class="row">
                        <div class="col">
                            <h1>Usuários Cadastrados</h1>
                        </div>
                        <div class="col-auto">
                            <a class="btn btn-primary" th:href="@{~/cadastroUsuario.html}" role="button"
                                id="cadastrarCliente">Novo</a>
                        </div>
                    </div>
                    <div class="form-row">
                        <div th:switch="${usuarios}">
                            <h3 th:case="null">Sem Usuários Cadastrados!!!</h3>
                            <table th:case="*" class="table table-striped">
                                <tr>
                                    <th id="colName0">Nome</th>
                                    <th id="colName1">Email</th>
                                    <th id="colName2">Permições</th>
                                    <th id="colName3">Status</th>
                                    <th id="colName4">Opção</th>
                                </tr>
                                <tr th:each="usuario : ${usuarios}">
                                    <h2 th:case="null">Sem clientes, ainda.</h2>
                                    <td th:text="${usuario.nome}">...</td>
                                    <td th:text="${usuario.email}">...</td>
                                    <td>
                                        <div class="dropdown">
                                            <button class="btn btn-secondary dropdown-toggle" type="button"
                                                id="dropdownMenuButton1" data-bs-toggle="dropdown"
                                                aria-expanded="false">
                                                Lista
                                            </button>
                                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                                <li><a class="dropdown-item" th:each="regra : ${usuario.roles}"
                                                        th:text="${#strings.substring(#strings.replace(regra.role, '&#95;', '&#32;'),5)}">.</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                    <td th:if="${usuario.ativo}">ATIVO</td>
                                    <td th:unless="${usuario.ativo}">INATIVO</td>
                                    <td>
                                        <a class="btn btn-primary" th:href="@{~/cadastroUsuario/{id}(id=${usuario.id})}"
                                            role="button">Editar</a>
                                    </td>
                                </tr>
                            </table>
                        </div>


                    </div>
            </div>
        </div>
        <script th:src="@{/js/cookies.js}" type="text/javascript"></script>
</body>

</html>