.minHeight {
    min-height: 250px;
}

.maxHeight {
    max-height: 300px;
}

.minWidth {
    min-width: 700px;
}

.maxWidth {
    max-width: 800px;
}

.minWidthBarra {
    min-width: 300px;
}
.maxWidthBarra {
    max-width: 30px;
}

div{
    white-space: nowrap
}
