<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link th:href="@{/bootstrap-icons-1.9.1/bootstrap-icons.css}" rel="stylesheet" type="text/css">

    <link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/menu.css}" type="text/css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script th:src="@{/js/menu.js}" type="text/javascript"></script>
    <title id="Title">Cliente</title>
</head>

<body id="body-pd">
    <div th:insert="components/menuTamplate :: menuTamplate(tela='cliente')"></div>
    <!--MENU-->

    <div id="page-content-wrapper">
        <!--BODY da página-->
        <div class="m-4 pt-4">
            <div class="p-4 rounded-4 lightMode">

                <form>

                    <div class="row">
                        <div class="col">
                            <h1>Clientes e Administradores Cadastrados</h1>
                        </div>
                        <div class="col-auto">
                            <a class="btn btn-primary" th:href="@{~/cadastroCliente.html}" role="button"
                                id="cadastrarCliente">Novo Cliente
                            </a>
                            <a class="btn btn-primary" th:href="@{~/cadastroAdministrador.html}" role="button"
                            id="cadastrarCliente">Novo Administrador
                        </a>
                        </div>
                    </div>
                    <div class="form-row overflow-auto">
                        <div th:switch="${clientes}">
                            <h3 th:case="null">Sem Clientes Cadastrados!!!</h3>
                            <table th:case="*" class="table table-striped">
                                <tr>
                                    <th>Nome</th>
                                    <th>Email</th>
                                    <th>Acesso</th>
                                    <th>Status</th>
                                    <th>Opção</th>
                                </tr>
                                <tr th:each="cliente : ${clientes}">
                                    <h2 th:case="null">Sem clientes, ainda.</h2>
                                    <td th:text="${cliente.nome}">...</td>
                                    <td th:text="${cliente.email}">...</td>
                                    <td class="dropdown-item" th:each="regra : ${cliente.roles}"
                                                th:text="${#strings.substring(#strings.replace(regra.role, '&#95;', '&#32;'),5)} == 'ADMIN' ? 'Administrador': 'Cliente'">.</td>
                                    <td th:if="${cliente.ativo}">ATIVO</td>
                                    <td th:unless="${cliente.ativo}">INATIVO</td>
                                    <td>
                                        <a th:if="${(cliente.empresa.cnpj == '75167467000120')}" class="btn btn-primary" th:href="@{~/cadastroAdministrador/{id}(id=${cliente.id})}"
                                            role="button">Editar</a>
                                        
                                            <a th:if="${!(cliente.empresa.cnpj == '75167467000120')}" class="btn btn-primary" th:href="@{~/cadastroCliente/{id}(id=${cliente.id})}"
                                            role="button">Editar</a>    
                                    </td>
                                </tr>
                            </table>
                        </div>

                    </div>


            </div>
        </div>
    </div>
    <script th:src="@{/js/cookies.js}" type="text/javascript"></script>
</body>

</html>