<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title>Entrar</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS v5.2.0-beta1 -->
    <link th:href="@{/bootstrap-icons-1.9.1/bootstrap-icons.css}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap.min.css}" type="text/css">

    <link rel="stylesheet" th:href="@{/css/login.css}">

</head>

<body>

    <div class="mx-auto mb-3 container">
        <div class="row mt-5">
            <div class="col text-center">
                <img class="m-auto pt-5 text-center logo" th:src="@{/assets/logo.png}" alt="LOGO">
            </div>
        </div>



        <form th:action="@{/login.html}" method="post">
            <div class="row">
                <div class="col">
                    <label for="exampleFormControlInput1" class="form-label">Email</label> <i
                        class="bi bi-envelope"></i>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <input type="email" class="form-control" id="email" name="username" placeholder="email@exemplo.com">
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="mt-2 mb-3">
                        <label for="examplePassword" class="form-label">Senha</label> <i class="bi bi-key"></i>
                        <input type="password" class="form-control" id="senha" name="password" placeholder="******">
                    </div>
                    <div th:if="${param.error}">
                        <div class="alert alert-danger" role="alert">
                            Senha e/ou E-mail Inválido.
                        </div>

                    </div>
                    <div th:if="${param.logout}">
                        <div class="alert alert-danger" role="alert">
                            Você precisa entrar na sua conta.
                        </div>

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="mt-4 mb-3 text-end">
                        <input class="btn btn-primary btnSize" type="submit" value="Entrar">

                        <a class="btn btn-light" href="index.html" role="button">Voltar</a>
                    </div>
                </div>
            </div>
        </form>





    </div>


</body>

</html>