<!doctype html>
<html lang="en">

<head>
    <title>Teste | Entrar</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS v5.2.0-beta1 -->
    <link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap.min.css}" type="text/css">

    <link rel="stylesheet" th:href="@{/css/login.css}">

</head>

<body>

    <div class="mx-auto mb-3 container">
        <div class="row mt-5">
            <div class="col text-center">
                <img class="m-auto pt-5 text-center logo" th:src="@{/assets/logo.png}" alt="LOGO">
            </div>
        </div>


        <form action="/auth/login/entrar" method="post">
            <div class="row">
                <div class="col">
                    <label for="exampleFormControlInput1" class="form-label">Email</label>
                </div>
            </div>
    
            <div class="row">
                <div class="col">
                    <input type="email" class="form-control" id="email" name="senha" placeholder="email@exemplo.com">
                </div>
            </div>
    
            <div class="row">
                <div class="col">
                    <div class="mt-2 mb-3">
                        <label for="examplePassword" class="form-label">Senha</label>
                        <input type="password" class="form-control" id="senha" name="senha"placeholder="******">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="mt-4 mb-3 text-end">
                        <a class="btn btn-primary btnSize" role="button">Entrar</a>
                        <!--<input type="submit" value="login">-->
                        <a class="btn btn-light" href="index.html" role="button">Voltar</a>
                    </div>
                </div>
            </div>
        </form>

        

        <div class="row">
            <div class="col text-end">
                <a class="btn btn-link" href="404.html" role="button">Recuperar Senha</a>
            </div>
        </div>

    </div>



    <!--sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy-->
    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
        integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy"
        crossorigin="anonymous"></script>
</body>

</html>