<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>-->
    <script th:src="@{/chart.js/dist/chart.js}" type="text/javascript"></script>

    <!-- Bootstrap CSS -->
    <link th:href="@{/bootstrap-icons-1.9.1/bootstrap-icons.css}" rel="stylesheet" type="text/css">

    <link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/menu.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/dash.css}" type="text/css">
    <!--   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>-->
    <script th:src="@{/js/menu.js}" type="text/javascript"></script>

    <title id="Title">Dashboard</title>

</head>

<!--<body id="body-pd" style="background: #dfe0e6">-->

<body id="body-pd">


    <div id="content">
        <div th:insert="components/menuTamplate :: menuTamplate(tela='dash')"></div>
        <!--MENU-->

        <div id="page-content-wrapper">
            <div class="d-flex align-items-center" id="loader">
                <strong class="ps-5">Loading...</strong>
                <div class="spinner-border" role="status" aria-hidden="true"></div>
            </div>
            <div class="flex-grow-1">
                <div class="m-0 row">

                    <div class="pb-2 text-start bgBlue" style="width: 100%; color: #f5f6fa;">
                        <div class="row">
                            <div class="col-md-auto py-1">
                                <p>Início</p>
                                <div>
                                    <input id="startDate" class="form-control lightMode" type="date"
                                        onchange="filtro()" />
                                    <!--<input type="range" class="form-range" id="customRange1">-->
                                </div>
                            </div>
                            <div class="col-md-auto py-1">
                                <p>Fim</p>
                                <div>
                                    <input id="endDate" class="form-control lightMode" type="date"
                                        onchange="filtro()" />
                                    <!--<input type="range" class="form-range" id="customRange1">-->
                                </div>
                            </div>

                            <div class="col-md py-1">
                                <p>Cidade</p>
                                <select id="cidades" class="form-select lightMode" onchange="filtro()">
                                    <option value="Todos" selected>Todos</option>
                                </select>
                            </div>

                            <div class="col-md py-1">
                                <p>Local</p>
                                <select id="local" class="form-select lightMode" onchange="filtro()">
                                    <option selected>Todos</option>
                                </select>
                            </div>
                            <div class="col-md py-1">
                                <p>Tipo de Painel</p>
                                <select id="painel" class="form-select lightMode" onchange="filtro()">
                                    <option selected>Todos</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="mx-0 mb-3 p-0 ps-3 text-center rounded-4" style="width: 100%;">
                        <div class="row mx-0 pe-0">
                            <div class="row">
                                <div class="mt-2">
                                    <h3>Análise Semanal e Diário</h3>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md my-2">
                                    <div class="p-1 fw-bold fs-5 rounded-4  lightMode">
                                        <p id="audiencia"></p>
                                        <p>Audiência</p>
                                    </div>
                                </div>

                                <div class="col-md my-2">
                                    <div class="p-1 fw-bold fs-5 rounded-4  lightMode">
                                        <p id="impacto"></p>
                                        <p>Impactos</p>
                                    </div>
                                </div>

                                <div class="col-md my-2">
                                    <div class="p-1 fw-bold fs-5 rounded-4  lightMode">
                                        <p id="freq"></p>
                                        <p>Frequência</p>
                                    </div>
                                </div>

                                <div class="col-md my-2">
                                    <div class="p-1 fw-bold fs-5 rounded-4  lightMode">
                                        <p id="medDia"></p>
                                        <p>Dias monitorados</p>
                                    </div>
                                </div>

                                <div class="col-md my-2">
                                    <div class="p-1 fw-bold fs-5 rounded-4  lightMode">
                                        <p id="locais"></p>
                                        <p>N° Locais</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="mx-0 p-0 ps-3 ">
                        <div class="mx-0 p-0 row flex-grow-1">
                            <div class="col-md ">
                                <div id="container1" class="my-2 p-2 text-center rounded-4  lightMode">
                                    <div class="p-1">
                                        <p>Análise Diária Audiência X Impactos</p>
                                    </div>
                                    <div class="px-4 overflow-auto">
                                        <div class="minHeight" id="grafico1Container">
                                            <canvas width="70px" height="10px" id="grafico1" class=""></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md ">
                                <div id="container2" class="my-2 p-2 text-center rounded-4  lightMode">
                                    <div class="px-4 maxHeight overflow-auto">
                                        <div class="minHeight" id="grafico3Container">
                                            <!--<canvas width="13px" height="80px" id="grafico3" class=""></canvas>-->
                                            <table class="table table-striped">
                                                <tr>
                                                    <th>Data</th>
                                                    <th>Audiência</th>
                                                    <th>Impactos</th>
                                                </tr>

                                                <tbody id="tab1">

                                                </tbody>

                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="mx-0 p-0 row flex-grow-1">
                            <div class="col-md ">
                                <div id="container3" class="my-2 p-2 text-center rounded-4  lightMode">
                                    <div class="p-1">
                                        <p>Análise Semana Audiência X Impactos</p>
                                    </div>
                                    <div class="px-4 minHeight">
                                        <canvas width="70px" height="20px" id="grafico2" class=""></canvas>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md ">
                                <div id="container4" class="my-2 p-2 text-center rounded-4  lightMode">
                                    <!--<div class="px-4 overflow-auto">-->
                                    <div class="px-4">
                                        <div class="minHeight">
                                            <!--<canvas width="70px" height="70px" id="grafico4" class=""></canvas>-->
                                            <table class="table table-striped">
                                                <tr>
                                                    <th>Dia da Semana</th>
                                                    <th>Audiência</th>
                                                    <th>Impactos</th>
                                                </tr>

                                                <tbody id="tab2">

                                                </tbody>

                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>

        <script>
            var loader;

            function loadNow(elem) {
                elem.parentNode.removeChild(elem);

            }

            function displayContent() {
                loader.style.display = 'none';
                document.getElementById('content').style.display = 'block';
            }

            document.addEventListener("DOMContentLoaded", function () {
                loader = document.getElementById('loader');
                initGraph();
                loadNow(loader);
            });
        </script>

        <script th:src="@{/js/app.js}" type="text/javascript"></script>
        <script th:src="@{/js/cookies.js}" type="text/javascript"></script>
</body>


</html>